.rounded {
	-fx-background-color: E4E4E4;
	-fx-background-radius: 10px;
	-fx-border-radius: 10px;
}

.category {
	-fx-background-color: FFFFFF;
}

.search-bar{
	-fx-background-radius: 10px;
	-fx-border-radius: 10px;
}