.rounded {
	-fx-background-color: E4E4E4;
	-fx-background-radius: 10px;
	-fx-border-radius: 10px;
}

.extra-rounded {
	-fx-background-color: E4E4E4;
	-fx-background-radius: 30px;
	-fx-border-radius: 30px;
}

.category {
	-fx-background-color: FFFFFF;
}

.search-bar {
	-fx-background-radius: 10px;
	-fx-border-radius: 10px;
}

.background {
	-fx-background-image: url("../../Images/Background.jpg");
	-fx-background-repeat: stretch;
	-fx-background-size: 900 506;
	-fx-background-position: center center;
}